.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  gap: 7rem;
}